<div class="doctor-speak" id="faqcontent">
<div class="container">
<div class="row faq">
<h2>FAQ</h2>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div id="accordion1" class="panel-group" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div id="speakOne" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorOne" data-toggle="collapse" data-parent="#accordion1" aria-expanded="true" aria-controls="collapseOne">Are the ZeroHarm Omega 3 DHA capsules safe to use for children?</a></h4>
</div>
<div id="doctorOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion1">
<div class="panel-body">
<p>Current studies indicate that Omega 3 supplements are safe to use for children, the elderly, and those with underlying health conditions with the doctor’s approval.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakTwo" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorTwo" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false" aria-controls="collapseTwo">Are the ZeroHarm Omega 3 DHA capsules safe to use for those with underlying health conditions? </a></h4>
</div>
<div id="doctorTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion1">
<div class="panel-body">
<p>Current studies indicate that Omega 3 supplements are safe to use for children, the elderly, and those with underlying health conditions with the doctor’s approval.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakThree" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorThree" data-toggle="collapse" data-parent="#accordion1" aria-expanded="false" aria-controls="collapseThree">Are the ZeroHarm Omega 3 DHA capsules safe to use for the elderly?</a></h4>
</div>
<div id="doctorThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion1">
<div class="panel-body">
<p>Current studies indicate that Omega 3 supplements are safe to use for children, the elderly, and those with underlying health conditions with the doctor’s approval.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakFour" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorFour" data-toggle="collapse" aria-expanded="True" data-parent="#accordion1" aria-controls="collapseFour">What studies have you conducted on the ZeroHarm Vegan Omega 3 DHA?</a></h4>
</div>
<div id="doctorFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion1">
<div class="panel-body">
<p>ZeroHarm Vegan Omega 3 supplement has undergone extensive research on safety and efficacy in drug delivery, while also undergoing stringent certification processes for safety assurance.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakFive" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorFive" data-toggle="collapse" aria-expanded="True" aria-controls="collapseFive" data-parent="#accordion1">Is this product safe to use without a doctor’s advice?</a></h4>
</div>
<div id="doctorFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion1">
<div class="panel-body">
<p>We recommend that any new supplements be started only after consultation with your doctor, and a review of your existing medication and dosage.</p>
</div>
</div>
</div>
<div class="moretext">
<div class="panel panel-default">
<div id="speakSix" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorSix" data-toggle="collapse" aria-expanded="True" aria-controls="collapseSix" data-parent="#accordion1">What if I already am on a pescatarian diet? Do I still need this supplement?</a></h4>
</div>
<div id="doctorSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion1">
<div class="panel-body">
<p>Pescatarian diets, while better than other diets, may not always have the associated benefits as consuming Omega 3 supplements in a standardized dose.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakSeven" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorSeven" data-toggle="collapse" aria-expanded="True" aria-controls="collapseSeven" data-parent="#accordion1">Is this supplement suitable for those who have undergone a major medical procedure?</a></h4>
</div>
<div id="doctorSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion1">
<div class="panel-body">
<p>If you are on blood thinners or other anticoagulant medication, we recommend consulting with your doctor whether starting or continuing these supplements is recommended for you. In most other cases, Omega 3 supplements can help reduce inflammation as is the case with surgical procedures.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakEight" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorEight" data-toggle="collapse" aria-expanded="True" aria-controls="collapseEight" data-parent="#accordion1">Is this supplement useful in the treatment of viral illnesses?</a></h4>
</div>
<div id="doctorEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion1">
<div class="panel-body">
<p>There is preliminary research available to support the hypothesis that Omega 3 supplements can help in reducing inflammation in viral illnesses such as SARS Cov-2. Further research is needed to validate this hypothesis at scale.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakNine" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorNine" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">Is this supplement safe to use for extended periods?</a></h4>
</div>
<div id="doctorNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion1">
<div class="panel-body">
<p>ZeroHarm Vegan Omega 3 supplement is safe to use for extended periods.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakTen" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorTen" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">What immediate benefits should I expect to see from this supplement?</a></h4>
</div>
<div id="doctorTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion1">
<div class="panel-body">
<p>The benefits of this supplement manifest in the form of lower inflammation, which in some people may reflect as better immunity, less generalised pain, and better rest.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakLeven" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorLeven" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">How is the ZeroHarm Vegan Omega 3 supplement different from others in the market?</a></h4>
</div>
<div id="doctorLeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLeven" data-parent="#accordion1">
<div class="panel-body">
<p>We’ve designed this supplement to demonstrate the 100% bioavailability when compared with supplements available in the market today. This product is also 100% vegan and comes with zero side effects.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakTwelve" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorTwelve" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">What food and medical certifications in India do your supplement hold?</a></h4>
</div>
<div id="doctorTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLeven" data-parent="#accordion1">
<div class="panel-body">
<p>We are an ISO 9001:2015 and ISO 22000:2018 certified company. We are also HACCP and FSSAI certified for food safety norms, and we are GMP certified for our manufacturing processes.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakThirteen" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorThirteen" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">What side effects should I expect from this product?</a></h4>
</div>
<div id="doctorThirteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLeven" data-parent="#accordion1">
<div class="panel-body">
<p>There are no side effects to the consumption of ZeroHarm Vegan Omega 3 supplement.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakFourteen" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorFourteen" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">What food combinations can this supplement not be used with?</a></h4>
</div>
<div id="doctorFourteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLeven" data-parent="#accordion1">
<div class="panel-body">
<p>There are no known food combinations that limit the consumption of the ZeroHarm Vegan Omega 3 supplement.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakFiftyeen" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorFiftyeen" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">Can this product be used by pregnant women and breastfeeding mothers?</a></h4>
</div>
<div id="doctorFiftyeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLeven" data-parent="#accordion1">
<div class="panel-body">
<p>We recommend that pregnant women and lactating mothers consult their doctors before introducing new supplements to their diet.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakSixteen" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorSixteen" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">Apart from Omega 3, does your product contain any additives?</a></h4>
</div>
<div id="doctorSixteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLeven" data-parent="#accordion1">
<div class="panel-body">
<p>No, this product is free of additives and fillers.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakSeventen" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorSeventen" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">Is this product safe to use for chronic allergies?</a></h4>
</div>
<div id="doctorSeventen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLeven" data-parent="#accordion1">
<div class="panel-body">
<p>This product is safe to use as a supplement for the management of inflammatory conditions such as allergies.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakEighteen" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorEighteen" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">Is this product safe to use post recovery from Covid-19?</a></h4>
</div>
<div id="doctorEighteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLeven" data-parent="#accordion1">
<div class="panel-body">
<p>Currently, this product is safe to use post recovery from viral illnesses such as Covid-19.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakNinteen" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorNinteen" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">Is your product 100% vegan?</a></h4>
</div>
<div id="doctorNinteen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLeven" data-parent="#accordion1">
<div class="panel-body">
<p>ZeroHarm Vegan Omega 3 product is 100% vegan and derived solely from marine algae.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div id="speakTwenty" class="panel-heading" role="tab">
<h4 class="panel-title"><a class="collapsed" href="#doctorTwenty" data-toggle="collapse" aria-expanded="True" aria-controls="collapseNine" data-parent="#accordion1">Are the origins of your product sustainable?</a></h4>
</div>
<div id="doctorTwenty" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLeven" data-parent="#accordion1">
<div class="panel-body">
<p>At ZeroHarm, we strive to first do no harm, and that commitment extends to the planet as well. We follow an extraction process that is safe on marine life, and are finding ways to make our processes zero-waste.</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="d-flex vertical-align-middle justify-content-center btn-faq">
<a href="#faqcontent" class="chervon-btn">
  <i class="fa fa-chevron-down rotate" aria-hidden="true"></i>
</a>
</div>
</div>
</div>
</div>
{% schema %}
  {
    "name": "Faq content",
    "settings": [],
        "presets": [
        {
        "name": "Faq content",
        "category": "Faq content"
        }
				]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
$( ".chervon-btn" ).click(function() {
  $( ".moretext" ).toggle("");
});

$(".rotate").click(function(){
 $(this).toggleClass("down")  ; 
})
{% endjavascript %}
