<div class="overpowers-block" id="overpower">
<div class="container">
<div class="row">
<div class="power-lft col-md-4 col-sm-12">
<h2>PROCESS THAT <br />OVERPOWERS.</h2>
<p class="pt-2">Our step-by-step process for DHA extraction ensures that you get the most out of every ZeroHarm Vegan Omega 3 capsule you consume.</p>
<div class="inner-power"><strong>Extraction</strong>
<p>Enzymatic rupture of the algal cells is followed by extraction with an agent with a low boiling point, both of which ensure that the extract does not suffer from the effects of high heat and mechanical shock.</p>
</div>
<div class="inner-power"><strong>Processing</strong>
<p>The solvent is then carefully evaporated to leave behind a pure DHA extract. We then freeze dry the extract to create a dried DHA powder which is filled into capsules. All of these processes are done in low-temperature environments as the oil is susceptible to oxidative stress.</p>
</div>
<div class="inner-power"><strong>Delivery</strong>
<p>Precision extraction through this process ensures that when taken in the recommended dosage, ZeroHarm Vegan Omega-3 supplement gives you the best possible outcomes when compared with conventionally available Omega-3 supplements.</p>
</div>
</div>
<div class="power-rit col-md-8 col-sm-12">
<table class="table table-bordered">
<thead>
<tr>
<th class="align-middle" scope="col">Feature</th>
<th class="align-middle" scope="col">Fish Oil <br />Omega-3</th>
<th class="align-middle" scope="col">ZeroHarm Vegan<br />Omega-3</th>
<th class="align-middle" scope="col">Seeds (Flax seeds,<br />Sunflower, etc.)</th>
</tr>
</thead>
<tbody>
<tr>
<td>Aftertaste</td>
<td>Yes</td>
<td>No</td>
<td>No</td>
</tr>
<tr>
<td>Nano-formulation Process</td>
<td>No</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Bioavailability</td>
<td>Low</td>
<td>High</td>
<td>Very Low</td>
</tr>
<tr>
<td>Clinical Trials</td>
<td>Yes</td>
<td>Yes</td>
<td>Yes</td>
</tr>
<tr>
<td>Natural Sources</td>
<td>Yes</td>
<td>Yes</td>
<td>Yes</td>
</tr>
<tr>
<td>Side Effects</td>
<td>No</td>
<td>No</td>
<td>No</td>
</tr>
<tr>
<td>Diverse Dietary<br />Preferences</td>
<td>No</td>
<td>Yes</td>
<td>Yes</td>
</tr>
<tr>
<td>Precision<br />Treatment</td>
<td>No</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Age Suitability</td>
<td>Suitable for all<br />ages</td>
<td>Suitable for all<br />ages</td>
<td>Suitable for all<br />ages</td>
</tr>
<tr>
<td>Vegan Product</td>
<td>No</td>
<td>Yes</td>
<td>Yes</td>
</tr>
<tr>
<td>Odorless</td>
<td>No</td>
<td>Yes</td>
<td>No</td>
</tr>
<tr>
<td>Sustainably<br />Sourced</td>
<td>No</td>
<td>Yes</td>
<td>Yes</td>
</tr>
<tr>
<td>Powdered Form</td>
<td>No</td>
<td>Yes</td>
<td>No</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
{% schema %}
  {
    "name": "Over power",
    "settings": [],
    "presets": [
        {
        "name": "Over power",
        "category": "Over power"
        }
				]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
