<div class="unmathed-benfits pt-2">
<div class="container">
<h2 class="text-center unmatched-text">UNMATCHED BENEFITS</h2>
<div class="benfits-main">
<div class="row">
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-02_fc3fde8a-ade8-455b-a764-c9e595297fba.jpg?v=1654181661" alt="img" />
<div class="figcaptionone">
<h2>STRENGTHENS <br />JOINTS &amp; BONES</h2>
<p>Helps boost calcium levels in the body, thereby reducing the risk of Osteoporosis and arthritis. Calcium enables stronger bones &amp; muscles and aids in better muscle recovery.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-04_ccdd79cf-51c1-4318-8ef0-fbd597288cb6.jpg?v=1654181661" alt="img1" />
<div class="figcaptionone">
<h2>IMPROVES BRAIN<br />FUNCTION</h2>
<p>Studies have shown higher intelligence and brain function in children born to mothers who consumed Omega 3 during pregnancy.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-06_43652389-8ab1-47f6-927a-a632e272f67f.jpg?v=1654181661" alt="img1" />
<div class="figcaptionone">
<h2>REDUCES RISK OF <br />HEART CONDITIONS</h2>
<p>Helps reduce inflammation which is known to cause damage to blood vessels and heart. It also aids in reducing triglycerides and bad cholesterol, enabling good heart health.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-03_4170d4ba-761b-46e6-89ca-c7a1b35bc55c.jpg?v=1654181661" alt="img1" />
<div class="figcaptionone">
<h2>REDUCES <br />MENSTRUAL PAIN</h2>
<p>ZeroHarm Omega 3 when taken throughout the menstrual cycle helps reduce inflammation thereby providing relief from menstrual cramps.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-08_bfe95f3e-3ef5-48ab-bb83-ee6a33cb4256.jpg?v=1654181661" alt="img1" />
<div class="figcaptionone">
<h2>TREATS EYE-RELATED <br />ISSUES</h2>
<p>Helps treat dry eye syndrome that bears symptoms like eye itching, burning and redness. It also prevents risk of glaucoma by reducing eye pressure.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-01_42b4ca51-0dbb-4857-974a-94b4e0ed43aa.jpg?v=1654181661" alt="img1" />
<div class="figcaptionone">
<h2>REDUCES LIVER FAT</h2>
<p>Omega 3 reduces inflammation, increases insulin sensitivity, decreases production of triglycerides. This enables reduction of fat in liver.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-07_79da3b12-aba8-43de-8f0c-afc9905ad03c.jpg?v=1654181661" alt="img1" />
<div class="figcaptionone">
<h2>FIGHTS INFLAMMATION</h2>
<p>Consumption of Vegan Omega 3 helps in reducing the levels of arachidonic acid which is responsible for inflammation.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-09_fa7f5d76-677b-4d91-8e73-428d61845016.jpg?v=1654181661" alt="img1" />
<div class="figcaptionone">
<h2>REDUCES ADHD <br />SYMPTOMS IN CHILDREN</h2>
<p>Omega 3 aids better functioning of neurons. Improves focus, attention &amp; memory in children with ADHD</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-11_ef6b7261-bde9-4bbd-ab3d-d4ae979be7db.jpg?v=1654181661" alt="img1" />
<div class="figcaptionone">
<h2>FIGHTS AGE-RELATED <br />MENTAL DECLINE</h2>
<p>The antioxidant, anti-inflammatory, antiapoptotic &amp; neurotrophic properties help in normal brain functioning and fights age-related mental decline and Alzheimer’s.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-12_50025475-0a7f-472d-8ef1-53c2e9f91e78.jpg?v=1654181661" alt="img1" />
<div class="figcaptionone">
<h2>TREATS ASTHMA &amp;<br />OTHER RESPIRATORY <br />CONDITIONS</h2>
<p>The reduction of inflammation by Omega 3 helps alleviate inflammation in lungs. It aids in lowering immunoglobulin antibodies production that causes Asthma.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-10_561465d8-2d50-426c-8bd5-db1c3bd14325.jpg?v=1654181661" alt="img1" />
<div class="figcaptionone">
<h2>PROVIDES JOINT<br />PAIN RELIEF</h2>
<p>Omega 3 helps reduce inflammation in joints. It also reduces the production of negative proteins that cause certain types of arthritis and relieves joint pain.</p>
</div>
</div>
</div>
<div class="col-md-4 col-sm-6">
<div class="effect-lily"><img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0622/1801/0842/files/images_w_2560_x_h_1440_pxl-05_06e6edcf-02e5-4446-ba31-b69106be6015.jpg?v=1654181661" alt="img1" />
<div class="figcaptionone">
<h2>BOOSTS MUSCLE<br />HEALTH</h2>
<p>Vegan Omega 3 increases body’s response to insulin and amino acids that are released during process of physical exercise.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% schema %}
  {
    "name": "Unmatched Benfits",
    "settings": [],
        "presets": [
        {
        "name": "Unmatched Block",
        "category": "Unmatched Benfits"
        }
				]
  }
{% endschema %}

{% stylesheet %}
.container{
 width:1170px;
 margin:0px auto;
}
.benfits-main {
  position: relative;
  padding-top:20px;
}

  /* Common style */
  .benfits-main .effect-lily {
    position: relative;
    text-align: center;
    cursor: pointer;
    height: 100%;
  }

    .benfits-main .effect-lily img {
      position: relative;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      height: 100%;
      width: -webkit-fill-available !important;
    }

    .benfits-main .effect-lily .figcaptionone {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

      .benfits-main .effect-lily .figcaptionone::before,
      .benfits-main .effect-lily .figcaptionone::after {
        pointer-events: none;
      }

    .benfits-main .effect-lily{
      position:relative;
      width: 100%;
      height: 100%;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
    }

    .benfits-main .effect-lily h2 {
      word-spacing: -0.15em;
      font-weight: 300;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
    }

    .benfits-main .effect-lily h2,
    .benfits-main .effect-lily p {
      margin: 0;
    }

    .benfits-main .effect-lily p {
      letter-spacing: 1px;
      text-align: center;
      font-size: 12px;
      line-height: normal;
    }

.figcaptionone {
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 2em;
  width: 100%;
  background-color: rgb(0 0 0 / 37%);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  height:100%;
}
  .figcaptionone h2 {
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    align-items: end;
    height: 100%;
    padding: 10px;
  }
.effect-lily:hover .figcaptionone {
  height: 100%;
}
.effect-lily  h2,
.effect-lily  p {
  -webkit-transform: translate3d(0,30px,0);
  transform: translate3d(0,30px,0);
}
.effect-lily:hover .figcaptionone h2,
.effect-lily:hover .figcaptionone p {
  -webkit-transform: translate3d(0,-75px,0);
  transform: translate3d(0,-75px,0);
}

.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  color:#fff !important;
}

.effect-lily p {
  color: rgba(255,255,255,0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

.effect-lily:hover img,
.effect-lily:hover p {
  opacity: 1;
}

.effect-lily:hover h2,
.effect-lily:hover p {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

.benfits-main .col-md-4 {
  padding: 15px;
  float:left;
  width:33.3%;
}
.unmathed-benfits{
 background-color:#fff;
 width:100%;
 clear:both;
 overflow:hidden;
}
.unmatched-text{
    color: #0b3b49;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    border-top: 2px solid #0b3b49;
    padding-top: 40px;
    margin: 0px;
}
@media screen and (max-width: 767px) {
 .unmathed-benfits{
   display:none;
 }
 .figcaptionone{
   bottom:0px;
   height:100%;
}
.effect-lily:hover .figcaptionone {
  height: 100%;
}
.benfits-main .effect-lily h2{
    font-weight: bold;
    font-size: 14px;
}
.benfits-main .effect-lily p{
    font-size: 12px;
}
.effect-lily:hover .figcaptionone h2,
.effect-lily:hover .figcaptionone p {
  -webkit-transform: translate3d(0,-100px,0);
  transform: translate3d(0,-100px,0);
}
.benfits-main .effect-lily{
 height:230px;
}
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
